.heroSection{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.heroSection .aurora{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
}
.heroSection .contentHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 2;
    overflow: hidden;
}
.heroSection .contentHero .titleHero{
    color: white;
    font-weight: 750;
    text-align: center;
    font-size: 32px; 
    width: 85%;
}
.heroSection .contentHero .titleHero span{
    color: var(--mainColor);
    font-weight: 900;
}
.heroSection .contentHero .titleHero strong{
    position: relative;
    font-weight: 850;
}
.heroSection .contentHero .titleHero strong::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    height: 3.25px;
    background: linear-gradient(
        to right,
        transparent,
        var(--mainColor),
        transparent
    );
}

.heroSection .contentHero .descriereHero{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    width: 90%;
}

.heroSection .contentHero .ctaHero{
    padding: 8px 16px;
    font-weight: 900;
    color: white;
    background-color: var(--mainColor);
    font-size: 20px;
    border-radius: 7px;
  box-shadow:
    0 10px 30px rgba(255,122,24,0.35);
  transition: all 300ms ease;
}
