.heroSection{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.heroSection .aurora{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.55);
}
.heroSection .aurora img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}
.heroSection .aurora video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeInVideo 1s ease-in forwards;
    animation-delay: 1s;
}

@keyframes fadeInVideo {
    to {
        opacity: 1;
    }
}
.heroSection .contentHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    z-index: 2;
    overflow: hidden;
}
.heroSection .contentHero .titleHero{
    color: white;
    font-weight: 750;
    text-align: center;
    font-size: clamp(34px,3.5vw,48px); 
    width: 85%;
    opacity: 0;
    transform: translateY(24px);
    animation: Appear 550ms ease-in-out 500ms forwards;
}
@keyframes Appear{
    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.heroSection .contentHero .titleHero span{
    color: var(--mainColor);
    font-weight: 900;
}
.heroSection .contentHero .titleHero strong{
    position: relative;
    font-weight: 850;
}
.heroSection .contentHero .titleHero strong::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    height: 3.25px;
    background: linear-gradient(
        to right,
        transparent,
        var(--mainColor),
        transparent
    );
}

.heroSection .contentHero .descriereHero{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: clamp(18px,2vw,24px);
    width: 90%;
    opacity: 0;
    transform: translateY(8px);
    animation: Appear 550ms ease-in-out 800ms forwards;
}


@media(min-width:850px){
    .heroSection .contentHero .titleHero{
        width: 70%;
    }
    .heroSection .contentHero .descriereHero{
        width: 90%;
    }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: #000; /* Fundalul tau negru */
}

.svg {
  width: 200%; /* Mai lat pentru a permite miscarea de translatie */
  height: 100%;
  opacity: 0.8;
}

.line {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  will-change: transform;
}

/* Animatii diferite pentru fiecare linie pentru a crea efectul de profunzime */
.line1 {
  animation: moveLines 15s linear infinite;
}

.line2 {
  animation: moveLines 20s linear infinite reverse;
  opacity: 0.5;
}

.line3 {
  animation: moveLines 25s ease-in-out infinite;
  opacity: 0.3;
}

@keyframes moveLines {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-25%, 20px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}