.bodyCumDecurge{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 14px;
    position: relative;
        background:
        repeating-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.03),
            rgba(255,140,0,0.03) 1px,
            transparent 1px,
            transparent 40px
        ),
        linear-gradient(to bottom, rgb(14, 14, 14), #2b1200);
    padding: 32px 0;
    margin-top: 60px;
}
.bodyCumDecurge .containerTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.bodyCumDecurge .containerTitle h2{
    color: white;
    font-size: 26px;
    font-weight: 750;
}
.bodyCumDecurge .containerTitle h2 span{
    position: relative;
}
.bodyCumDecurge .containerTitle h2 span::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 2.75px;
    background: linear-gradient(
        to right,
        transparent,
        var(--mainColor),
        transparent
    );
}

.bodyCumDecurge .containerTitle p{
    color:var(--text-secondary);
    text-align: center;
    text-wrap: balance;
}

.contentParcurs{
    position: relative;
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 32px;
}
.lineParcurs{
    width: 4px;
    height: calc(100% + 24px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23px;
    background-color: var(--mainColor);
    z-index: 0;
}
.cardParcurs{
    display:grid;
    grid-template-columns: 56px 1fr;
    color: white;
    gap: 12px;
    row-gap: 0px;
    align-items: center;
    z-index: 1;
}
.cardParcurs .number{
    grid-column: 1/2;
    border: 2px solid var(--mainColor);
    padding: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    font-size: 28px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: black;
    position: relative;
    box-shadow: 0 0 20px rgba(255,140,0,0.4); 
}
.cardParcurs .titleCardParcurs{
    grid-column: 2/3;
    font-weight: 700;
    font-size: 18px;
    margin-top: -8px;
}
.cardParcurs p{
    grid-column: 2/3;
    grid-row: 2;
    width: 90%;
    text-wrap: balance;
}