
.buttonContact{
    font-weight: 750;
    color: white;
    font-size: clamp(20px,2.5vw,26px);
    transition: all 300ms ease;
    cursor: pointer;
    position: relative;
}
.buttonContact:hover{
  transform: translateY(-4px) scale(1.025);
}
.glareButton{
  padding: 6px 28px;
  border: none;
  box-shadow: none;
  border-radius: 14px;
}

@media(min-width:1100px){
  .glareButton{
    padding: 10px 20px;
  }
}
@media(min-width:1300px){
}