
.buttonContact{
    font-weight: 750;
    color: white;
    font-size: clamp(20px,2.5vw,26px);
    transition: all 0ms ease;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transform: translateY(24px);
    transition: all 0.8s ease;
    animation: Appear 550ms ease-in-out 1050ms forwards;
}
.buttonContact.show{
    opacity: 1;
        transform: translateY(0);
}
@keyframes Appear{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.buttonContact:hover{
  transform: translateY(-4px) scale(1.025);
}
.glareButton{
  padding: 6px 28px;
  border: none;
  box-shadow: none;
  border-radius: 14px;
}

@media(min-width:1100px){
  .glareButton{
    padding: 10px 20px;
  }
}
@media(min-width:1300px){
}