
.buttonContact{
    font-weight: 750;
    color: white;
    font-size: 20px;
    transition: all 300ms ease;
    cursor: pointer;
    position: relative;
}
.buttonContact:hover{
  transform: translateY(-4px) scale(1.025);
}
.glareButton{
  padding: 6px 28px;
  border: none;
  box-shadow: none;
  border-radius: 14px;
}