.bodyEu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 32px;
    border-radius: 14px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.leftPart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightPart{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.containerTitle{
    width: 90%;
    opacity: 0;
    transform: translateY(24px);
    transition: all 0.8s ease;
}
.containerTitle.show {
  opacity: 1;
  transform: translateY(0);
}
.containerTitle h2{
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: 750;
}
.containerEU{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 90%;
    gap: 12px;
    transform: translateY(24px);
    transition: all 0.8s ease;
    margin-bottom: 12px;
    margin-top: -6px;
}
.containerEU.show {
  opacity: 1;
  transform: translateY(0);
}
.containerEU p{
    font-size: 18px;
    text-wrap: balance;
    width: 100%; 
}
.containerEU.show {
  opacity: 1;
  transform: translateY(0);
}
.containerEU p strong{
    color: var(--mainColor);
}
.animateOnScroll {
    opacity: 0;
    transform: translateY(24px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animateOnScroll.show {
    opacity: 1;
    transform: translateY(0);
}


.wrapperImageEu {
    transition: opacity 1.2s ease, transform 1.2s ease;
}
.wrapperImageEu{
    width: 90%;
    margin-top: 12px;
    opacity: 0;
    transform: translateY(24px);
    transition: all 0.8s ease;
}
.wrapperImageEu.show {
  opacity: 1;
  transform: translateY(0);
}
.wrapperImageEu img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 14px;
}
.containerHarta{
    width: 90%;
    overflow: hidden;
    height: 375px;
    border-radius: 14px;
    position: relative;
    pointer-events: none;
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(24px);
}

.containerHarta.show {
  opacity: 1;
  transform: translateY(0);
}
.mapLegend{
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 7px;
     background: rgba(15, 15, 15, 0.95); 
  backdrop-filter: blur(14px) saturate(140%);
      border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.45); 
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 6px 10px;
    color: rgb(255, 255, 255);
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 6px;
}
.mapLegend .hallowDot{
    background-color: var(--mainColor);
    width: 8.5px;
    height:8.5px;
    border-radius: 100%;
    box-shadow: 0 0 8px var(--mainColor);
    animation: glowPulse 1.5s infinite ease-in-out;
}

@keyframes glowPulse {
    0% {
        box-shadow: 0 0 4px var(--mainColor);
    }
    50% {
        box-shadow: 0 0 16px var(--mainColor);
    }
    100% {
        box-shadow: 0 0 4px var(--mainColor);
    }
}
.mapLegend p{
    font-size: 14px;
    font-weight: 510;
    z-index: 2;
}

@media(min-width:950px){
    .bodyEu{
       display: grid;
       grid-template-columns: 1.25fr 1fr;
       grid-template-rows: auto 1fr;
       width: 100%;
       align-items: center;
       gap: 40px;
       row-gap: 32px;
       width: 90%;
       margin: 60px auto;
    }
    .containerTitle{
        width: 100%;
    }
    .leftPart{
        gap: 0px;
    }
    .containerTitle h2{
        text-align: left;
        font-size: 36px;
    }
    .containerEU{
        width: 100%;
    }
    .containerEU p{
        font-size: 22px;
    }
    .wrapperImageEu{
        width: 100%;
    }
    .wrapperImageEu img{
        max-height: 500px;
    }
    .containerHarta{
        width: 100%;
        grid-column: 1/3;
        height: 350px;
    }
}
@media(min-width:1300px){
    .bodyEu{
       display: grid;
       grid-template-columns: 1.25fr 1fr;
       margin-left: auto;
       margin-right: auto;
       gap: 40px;
       row-gap: 24px;
    }
}