.bodyWhy{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.bodyWhy .containerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    z-index: 2;
    width: 100%;
}
.bodyWhy .containerTitle h2{
    color: white;
    font-weight: 750;
    text-align: center;
    font-size: 26px;
    width: 100%;
}
.bodyWhy .containerTitle h2 span{
    position: relative;
    color: var(--mainColor);
    font-weight: 850;
}
.containerWhy{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    gap: 24px;
}

.continutCard{
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.cardWhy{
    width: 90%;
    height: 200px;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    background-color: rgb(18, 18, 18);
}
.cardWhy::before{
        content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        var(--mainColor),
        transparent
    );
}
.continutCard h4{
    font-size: 20px;
    color: white;
    font-weight: 650;
}
.continutCard p{
    color: white;
    width: 80%;
}
.continutCard .icon{
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 7px;
    background-color: var(--bg-elevated);
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.continutCardOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}