.bodyWhy{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.bodyWhy .containerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    z-index: 2;
    width: 100%;
}
.bodyWhy .containerTitle h2{
    color: white;
    font-weight: 750;
    text-align: center;
    font-size: clamp(26px,2.5vw,34px); 
    width: 100%;
}
.bodyWhy .containerTitle h2 span{
    position: relative;
    color: var(--mainColor);
    font-weight: 850;
}
.containerWhy{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 1250px;
}

.cardWhy{
    border: 1.25px solid var(--border-color);
    width: 90%;
    height: 190px;
    border-radius: 14px;
    position: relative;
    padding: 10px 14px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    row-gap: 0;
    align-items: center;
    background-color: rgb(18, 18, 18);
    transition: all 250ms ease-in-out;
}
.cardWhy:hover{
    transform: scale(1.005);
}

.cardWhy h4{
    font-size: clamp(20px,2vw,22px);
    color: white;
    font-weight: 650;
    grid-column: 2/3;
    grid-row: 1;
}
.cardWhy p{
    color: white;
    width: 80%;
    grid-column: 1/3;
    grid-row: 2;
}
.cardWhy .icon{
    grid-column: 1/2;
    border-radius: 7px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, rgba(255,138,0,0.15), transparent);
    border: 1px solid rgba(255,138,0,0.2);
    backdrop-filter: blur(8px);
    z-index: 2;
}
.continutCardOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.backgroundCard{
    display: none;
}

@media(min-width:850px){
    .bodyWhy{
    }
    .containerWhy{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        align-items: start;
    }
    .bodyRecenzii .containerTitlu p{
        width: 80%;
        margin-bottom: 20px;
    }
    .cardWhy{
        width: 100%;
        height: 200px;
    }
    .bodyWhy .containerTitle h2{
        margin-bottom: 12px;
    }
}
@media(min-width:1100px){
    .containerWhy{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 200px;

    }
    .cardWhy{
        width: 100%;
        padding: 20px;
        position: relative;
    }
    .cardWhy::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(18, 18, 18) 40%, transparent);
    }
    .backgroundCard{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        object-fit: cover;
        opacity: 0.5;
        object-position: 0% 50%;
    }
    .cardWhy h4{
        color: white;
        font-weight: 650;
        z-index: 2;
    }
    .cardWhy p{
        color: white;
        width: 90%;
        font-size: 18px;
        z-index: 2;
        text-wrap: balance;
    }
    .cardWhy:nth-of-type(1){
        grid-row: 1/4 !important;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 100%;
        gap: 24px;

    }
    .cardWhy:nth-of-type(1) h4{
        grid-column: 1/2;
        grid-row: 2;
    }
    .cardWhy:nth-of-type(1) p{
        grid-column: 1/2;
        grid-row: 3;
    }

    .cardWhy:nth-of-type(2){
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .cardWhy:nth-of-type(3){
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .cardWhy:nth-of-type(4){
        grid-column: 2/4;
        grid-row: 1/2;
        box-shadow: 0 0 15px var(--mainColor);
    }
    .cardWhy:nth-of-type(5){
        grid-column: 2/4;
        grid-row: 3/4;
    }
}