.bodyCta2{
    width: 100%;
    height: 450px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 32px;
    max-width: 1250px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.bodyCta2 .containerMarquee{
    width: 100%;
    height: 100%;
}
.marquee{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}
.bodyCta2 .overlayCta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.bodyCta2 .overlayCta::before{
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at center,
        rgba(0,0,0,0.85) 0%,
        rgba(0,0,0,0.75) 40%,
        rgba(0,0,0,0.50) 70%,
        rgba(0,0,0,0) 100%
    );
    z-index: 1;
}
.bodyCta2 .overlayCta h3{
    font-size: clamp(28px,2.5vw,36px); 
    font-weight: 750;
    z-index: 2;
    width: 90%;
    text-align: center;
}
.bodyCta2 .overlayCta h3 span{
    color: var(--mainColor);
}
.bodyCta2 .overlayCta div{
    z-index: 2;
}
.bodyCta2 .overlayCta p{
    text-align: center;
    width: 90%;
    margin: 12px 0;
    font-weight: 550;
    z-index: 2;
    color:white;
    text-align: center;
    font-size: clamp(18px,2.5vw,22px);
    text-wrap: balance;
}
@media(min-width:700px){
    .bodyCta2{
        height: 525px;
        margin: 40px auto;
    }
  .responsiveBreakText{ 
    display: none;
  }
}
@media(min-width:850px){
    .bodyCta2{
        width: 90%;
    }
}