.bodyProiecte{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px; 
}
.fundalGrid{
  background-image:
    linear-gradient(#2a2a2a 1px, transparent 1px),
    linear-gradient(90deg, #2a2a2a 1px, transparent 1px);
  background-size: 24px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:0;
  opacity: 0.45;
}
.mask{
  -webkit-mask-image: radial-gradient(circle, white 60%, transparent 100%);
  mask-image: radial-gradient(circle, white 60%, transparent 100%);
}
.bodyProiecte .containerTitlu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 2;
}
.bodyProiecte .containerTitlu h2{
    color: white;
    font-weight: 750;
    text-align: center;
    font-size: 26px; 
}
.bodyProiecte .containerTitlu h2 strong{
    color: var(--mainColor);
    font-weight: 900;
}
.bodyProiecte .containerTitlu h2 strong{
    position: relative;
    font-weight: 850;
}
.bodyProiecte .containerTitlu h2 strong::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: 2.75px;
    background: linear-gradient(
        to right,
        transparent,
        var(--mainColor),
        transparent
    );
}
.bodyProiecte .containerTitlu p{
    color: var(--text-secondary);
    width: 92%;
    text-align: center;
}

.containerProiecte{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
    margin-top: 24px;
    z-index: 2;
}
.containerProiecte .cardProiect{
    width: 95%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: var( --bg-secondary);
    overflow: hidden;
}
.wrapperImagine{
    width: 100%;
    position: relative;
    position: relative;
    overflow: hidden;
}
.wrapperImagine .imagineProiect{
    transition: transform 250ms ease-in-out;
}
.wrapperImagine:hover .containerHover{
    opacity:1;
}
.wrapperImagine:hover .continutHover{
    transform:translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.wrapperImagine:hover > img{
    transform: scale(1.05);
}

.containerHover{
    position: absolute;
    bottom:0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 400ms ease-in-out;
    z-index: 2;
    pointer-events: none;
}
.continutHover{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    transform: translateY(12px);
    opacity: 0.5;
    transition: all 350ms ease-in-out;
    pointer-events: none;
}
.continutHover > div{
    pointer-events: none;
}
.continutHover:hover > div{
    pointer-events: auto;
}
.visitSite,
.detaliiProiect{
  padding: 6px 12px;
  border-radius:7px;
    
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.visitSite:hover{
    color: var(--mainColor);
    transform: scale(1.05) translateY(-4px);
}
.detaliiProiect:hover{
    color: var(--mainColor);
    transform: scale(1.05) translateY(-4px);
}

.imagineProiect{
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
    height: 300px;
}
.contentCard{
    display: grid;
    grid-template-columns: 1fr auto;
    padding:6px 8px;
    margin-top: 6px;
}
.contentCard .numeProiect{
    color:white;
    font-weight: 700;
    font-size: 20px;
    display:flex;
    align-items: center;
    gap: 6px;
    margin-left: 4px;
}
.descriereProiect{
    color: var(--text-secondary);
    grid-column: 1/3;
    margin:0px 8px 4px 0;
    position: relative;
    padding-left: 8px;
    font-size: 14px;
}
.dataLanasare{
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius:7px;
  margin-right: 2px;
  background-color: var(--bg-elevated);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.85);

  display: inline-block;
}
.cardProdusBreakLine{
    width: 96%;
    grid-column: 1/3;
    height: 1.25px;
    border-radius: 100px;
    background-color: white;
    opacity: 0.25;
    margin: 12px auto;
}
.techStack{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
    grid-column: 1/3;
    margin-bottom: 6px;
    z-index: 2;
}
.techStack .techCard{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 6px;
    border-radius: 7px;
    gap: 6px;
    font-size: 12px;
    background-color: var(--bg-elevated);
    border: 1px solid rgba(255, 255, 255, 0.15);
}


/*. MODAL STYLES */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(8px);
    z-index: 999998889;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.modalContent {
    background-color: var(--bg-secondary);
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height:100dvh; 
}
.modalContent::-webkit-scrollbar{
    display: none;
}
.modalContent::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 175px;
    pointer-events: none;
    background: linear-gradient(to top, var(--bg-secondary), transparent);
}

.modalImageContainer {
    width: 100%;     
    flex-shrink: 0;
    max-height: 400px;
    overflow: hidden;
}

.modalImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}
.closeModalBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 7px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    z-index: 20;
    transition: background 0.2s;
}

.closeModalBtn:hover {
    background: var(--mainColor, #ff0000);
}

.modalBody{
    color: white;
    overflow-y: auto;
}
.modalBody::-webkit-scrollbar{
    display: none;
}
.modalBreakLine{
    width: 96%;
    margin: auto;
    height: 1px;
    background-color:rgba(255,255,255,0.1);
    margin: 16px auto;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 12px 0 12px
}

.modalHeader h2 {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    background: linear-gradient(to right, #fff, #ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sectionModal{
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}
.sectionModal h3{
    font-size: 20px;
    font-weight: 750;
    margin-bottom: 4px;
}

.modalDescriere {
    font-size: 16px;
    line-height: 1.7;
    color: var(--text-secondary);
    white-space: pre-line;
    margin-left: 4px;
}

.scrollerImages{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    gap: 24px;
    padding: 0 12px;
    padding-bottom: 8px;
    margin-bottom: 24px;
    align-items: center;
}
.scrollerImages::-webkit-scrollbar {
  width: 10px; 
  height: 6px;  
}

.scrollerImages::-webkit-scrollbar-track {
    background: var(--bg-elevated);       
    border-radius: 2px;
}

.scrollerImages::-webkit-scrollbar-thumb {
    background: var(--mainColor);  
    border-radius: 2px;
    cursor: pointer;
}

.scrollerImages img{
    height: auto;
    min-width: 400px;
    max-height: 400px;
    border-radius: 7px;
    object-fit: cover;
    object-position: 50% 0%;
}


.modalVisitBtn {
    margin: 20px auto 20px auto;
    background-color:var(--mainColor);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 750;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    width: 90%;
    z-index: 2;
    position: relative;
}

.modalVisitBtn:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
}

/* Media queries pentru mobil */
@media (max-width: 768px) {
   
}